name: build

on:
  push:
    branchs: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        stable: 'true'
        go-version: '^1.16.1'
    - name: build
      run: go get github.com/mitchellh/gox  && mkdir dist && perl build.pl && ls -al dist/