name: release

on:
  push:
    tags: '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        stable: 'true'
        go-version: '^1.16.1'
    - name: build
      run: |
        go get github.com/mitchellh/gox
        mkdir dist
        perl .github/build.pl
        ls -al dist/
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/*
        asset_name: mything
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
